body {
    /*background-image: url("../images/room-win.jpg");*/
    background-image: #d9d9d9;
    background-repeat: no-repeat;
    background-size: cover;
}

.switch-1{
     display: inline-block;
     margin: 20px;
    width: 150px;
    float: left;
}

.box-1{
    display: block;
   outline: 1px solid black; 
   width: 100%; 
   height: 500px;
}

.hey{ 
     display: inline-block;
     padding-left:500px;
    color: #353535;



}

.dont{
    display: inline-block;
    padding-left:500px;
    color: #3c6e71;


}